header {
  display: block;
  text-align: center;
}

h1 {
  font-size: 52px;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 60px;
}

nav {
  display: block;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 50px 25px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main_img {
  position: relative;
}

.img_relative {
  margin: 0 0 0 auto;
  display: block;
  width: 55%;
}

.absolute_up {
  color: #444444;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 75px;
}

.absolute_down {
  position: absolute;
  top: 55%;
  left: 20%;
  font-size: 25px;
  color: #444444;
}

@media screen and (max-width: 767px) {
  .absolute_down {
    display: none;
  }
}

span {
  color: black;
}

section {
  padding-top: 70px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.header:before,
.header:after {
  border-top: 1px solid;
  content: "";
  width: 6em;
}
.header:before {
  margin-right: 1em;
}
.header:after {
  margin-left: 1em;
}

.about_content-main {
  margin: 0 auto;
  text-align: center;
}

.about_text {
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
}

.float_wraper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.my-img {
  width: 20%;
  padding-left: 240px;
}

.my-prof {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 0px 70px;
}

dl dt {
  width: 30%;
}
dl dd {
  width: 50%;
}

dt,
dd {
  padding: 20px 0px;
}

.like_ul {
  display: flex;
  text-align: center;
}

.like_ul-bottom {
  text-align: center;
}

li img {
  width: 100%;
}

li img:first-child {
  width: 80%;
}

.contact_btn {
  background-color: #55bbbb;
  width: 200px;
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  margin: 50px auto;
}

@media screen and (max-width: 959px) and (min-width: 767px) {
  .about_text {
    padding: 0px 3rem;
  }

  .my-img {
    padding-left: 3rem;
    width: 30%;
  }
}

@media screen and (max-width: 767px) {
  li {
    display: inline-block;
    padding: 30px 10px;
  }

  .img_relative {
    opacity: 0;
  }

  .absolute_up {
    font-size: 60px;
    position: absolute;
    left: 18%;
    top: 5%;
    padding-top: 30px;
  }

  .about_text {
    padding: 0px 2rem;
  }

  .my-img {
    width: 30%;
    height: 30%;
    padding-left: 2rem;
  }

  .my-prof {
    padding: 0rem 1rem 0 1rem;
  }
}
